{% block site_head %}
	{% embed 'includes/html-header.twig' %}
		{% block head %}
		{% endblock %}
	{% endembed %}
{% endblock %}

<body class="body {% if is_mobile %}body--mobile{% endif %}">
	
	<div class="site">
		
		<header class="header site__header">
			<a href="{{site.url}}" class="header__logo">
				{% include 'includes/logo.twig' %}
			</a>
			<div class="header__navigation">
				<div class="header__menu">
				    <nav class="menu">
				        <input class="menu__toggle" id="menu__toggle" type="checkbox" />
				        <label class="menu__label title title--small" for="menu__toggle">
				            <div class="menu__hamburger hamburger">
				                <span></span>
				                <span></span>
				                <span></span>
				            </div>
				            <span class="menu__title header__menu-title">
				                <a href="{{shop_url}}" class="menu__title-link">{{menu_shop.name}}</a>
				            </span>
				        </label>
				    	<ul class="menu__list">
				            {% for item in menu_shop.items %}
				            	<li class="menu__item {% if 'current-menu-item' in item.classes %}is-active{% endif %}">
				                	<a class="menu__link link title title--small" href="{{item.get_link}}">{{item.title}}</a>
				            	</li>
				        	{% endfor %}
				        </ul>
				    </nav>
				</div>

				<a href="{{shop_cart_url}}" class="link title title--small header__bag">
					Shoppingbag {% if shop_cart_total > 0 %}({{shop_cart_total}}){% endif %}
				</a>
			</div>
			{% block header %}
			{% endblock %}
		</header>

		<main class="main site__main">
			{% block main %}
			{% endblock %}
		</main>
		
		<footer class="footer site__footer">
			{% embed 'includes/footer.twig' %}
			{% endembed %}
			{% block footer %}
			{% endblock %}
		</footer>

	</div>

	{{function('wp_footer')}}

	{% if user_logged_in %}
		<style>
			html{
				/* override on WP admin-bar styles */
				margin-top: 0 !important;
			}
		</style>
	{% endif %}

</body>