<nav class="categories {{modifiers}}">
	{% for cat in categories %}
		{% set thumbnail_id = get_woocommerce_term_meta(cat.term_id, 'thumbnail_id', true) %}
		{% set thumbnail_src = wp_get_attachment_image_url(cat.term_id) | default('/wp-content/plugins/woocommerce/assets/images/placeholder.png') %}
		{% set thumbnail_srcset = wp_get_attachment_image_srcset(thumbnail_id) %}
		{% set thumbnail_sizes = wp_get_attachment_image_sizes(thumbnail_id) %}
	
		<a href="{{get_category_link(cat.term_id)}}" class="categories__link">
			
			<img src="{{thumbnail_src}}" alt="shop category {{cat.name}}" class="categories__image" srcset="{{thumbnail_srcset}}" sizes="{{thumbnail_sizes}}">

			<div class="categories__info">
				<div class="categories__caption title title--small">{{get_field('caption', cat)}}</div>
				<div class="categories__title title title--big">{{cat.name}}</div>
			</div>

		</a>
	{% endfor %}
</nav>