<a href="{{site.url}}" class="header__logo">
	{% include 'includes/logo.twig' %}
</a>
<div class="header__navigation">
	<div class="header__menu">
	    <nav class="menu">
	        <input class="menu__toggle" id="menu__toggle" type="checkbox" />
	        <label class="menu__label title title--small" for="menu__toggle">
	            <div class="menu__hamburger hamburger">
	                <span></span>
	                <span></span>
	                <span></span>
	            </div>
	            <span class="menu__title header__menu-title">
	                <a href="{{shop_url}}" class="menu__title-link">{{menu_shop.name}}</a>
	            </span>
	        </label>
	    	<ul class="menu__list">
	            {% for item in menu_shop.items %}
	            	<li class="menu__item {% if 'current-menu-item' in item.classes %}is-active{% endif %}">
	            	{% if item.title == '-' %}       	
	            	   	<hr class="menu__divider"/>
	            	{% else %}
	         	        <a class="menu__link link title title--small" href="{{item.get_link}}">{{item.title}}</a>
	            	{% endif %}
	            	</li>
	        	{% endfor %}
	        </ul>
	    </nav>
	</div>

	<a href="{{shop_cart_url}}" class="link title title--small header__bag">
		Shoppingbag {% if shop_cart_total > 0 %}({{shop_cart_total}}){% endif %}
	</a>
</div>